﻿.container {
  padding: 2em;
}
.v-slider-frame {
  border: 1px solid #4BB3FD;
  height: 50px;
  overflow: hidden;
  text-align: center;
}
ul.v-slides {
  list-style-type: none;
  transform: translateY(50px);
  padding:0;
}
.v-slide {
  font-size: 24px;
  line-height: 50px;
  color: #4BB3FD;
}