.modal-body__top {
	display: flex;
}
.modal-body__top .wrapper h6 {
	font-weight: 700;
}
.modal-body__top .wrapper {
	line-height: 2px;
}
.modal-body__top .wrapper p {
	font-size: .650rem;
	font-weight: 400;
}

.img-modal {
	width: 80px;
	height: 80px;
	background: #ccc;
	border-radius: 8px;
	margin-right: 8px;
}

.modal-body__bottom label {
	font-size: 14px;
}

.form-group {
	margin-top: 15px;
}