.result__info {
  margin: 15px 0 -5px 20px;
}
.result__info :nth-child(1) {
  font-size: 1rem;
  font-weight: bold;
}
.result__info :nth-child(2) {
  font-size: 1rem;
  font-weight: 500;
}
.ull {
	border-radius: 6px;
	height: 90%;
	overflow: hidden;
	overflow-y: scroll;
}

.botones {
  display: flex;
}
.botones #btn-heart {
  background: var(--bg-color);
  border: 2px solid var(--second-color);
  width: 45px;
  margin-left: 5px;
}
.botones #btn-heart i {
  color: var(--second-color);
  font-size: 1.2rem;
}

#btn-reserva {
  font-size: .9rem;
} 

.lii {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
	border-radius: 6px;
  cursor: pointer;
}

.right__list {
  width: 100%;
}

.left__list {
  margin-right: 8px;
}
.left__list img {
  width: 135px;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.wrapper__title,
.stars,
.tables {
  display: flex;
  align-items: center;
}
.wrapper__title .stars {
  margin-right: 0;
  margin-left: auto;
}
.wrapper__title .title {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0;
}
.wrapper__title .stars,
.tables {
  font-weight: normal;
  font-size: .9rem;
}

.adress {
  font-weight: lighter;
  color: #707070;
  font-size: .8rem;
}

.right__list :nth-child(1) {
  margin-bottom: -2px;
}
.right__list :nth-child(2), 
.right__list :nth-child(3) {
  margin-bottom: 2px;
} 

