@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Sintony);

:root {
	--first-color: #ffa05c;
	--second-color: #1e1e1e;
	--bg-color: #fff;
	--shadow: rgba(0, 0, 0, 0.15);
}

:root {
	--mb-1: 0.5rem;
	--mb-2: 1rem;
	--mb-3: 1.5rem;
	--mb-4: 50px;
	--mb-5: 75px;
}

:root {
	--font-semi: 600;
}

:root {
	--body-font: 'Poppins', sans-serif;
	--big-font-size: 2rem;
	--h2-font-size: 1.25rem;
	--normal-font-size: 0.938rem;
	--icons-1: 25px;
}

@media screen and (min-width: 768px) {
	:root {
		--big-font-size: 3.5rem;
		--h2-font-size: 2rem;
		--normal-font-size: 1rem;
	}
}

/* reusable */

*,
::before,
::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	color: var(--second-color);
	background-color: var(--background-color);
}

/* no scroll */

html,
body {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

h1,
h2,
p {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	height: auto;
	display: block;
}

/* styles */
.l-header {
	width: 100%;
	height: 12%;
	background: var(--bg-color);
	border-bottom: 1px solid #ccc;
}

@media screen and (max-width: 768px) {
	.nav__menu,
	div.nav__extras {
		display: none;
	}
	.nav__toggle {
		display: flex;
	}
}

.nav {
	font-weight: var(--font-semi);
	margin-right: var(--mb-5);
	margin-left: var(--mb-5);
}

.logo {
	margin-right: 60px;
}

.nav__list,
.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav__link {
	color: var(--second-color);
}

li.nav__item {
	justify-content: space-between;
	margin-right: var(--mb-5);
	padding: 12px;
	border-radius: 5px;
	cursor: pointer;
}

li.nav__item:hover {
	background: var(--first-color);
}
.nav {
	height: -webkit-fill-available;
	justify-content: space-between;
	align-items: center;
	font-weight: var(--font-semi);
	margin-right: var(--mb-5);
	margin-left: var(--mb-5);
}

.logo {
	margin-right: 60px;
}

.logo-menu__container,
.nav__list,
.nav {
	display: flex;
}

.nav__link {
	color: var(--second-color);
}

li.nav__item {
	justify-content: space-between;
	margin-right: var(--mb-5);
}

.nav__extra {
	font-size: var(--icons-1);
}

.nav__extras {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 35px;
}

.nav__toggle {
	display: none;
}

#zonas {
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	color: var(--second-color);
	background-color: var(--background-color);
	width: 100%;
	height: 50px;
	border-radius: 10px;
	padding: 5px;
}

.radios {
	margin-top: 10px;
	display: grid;
	grid-template-columns: max-content max-content;
	gap: 5px;
}
.option {
	width: max-content;
	border: 1px solid #ced4da;
	padding: 10px;
	border-radius: 5px;
}
.option, .option label, .option input{
	cursor: pointer;
}
.form-check-input:checked {
	background-color: var(--first-color);
	border-color: #d6874f;
}
.form-check-input:focus {
	box-shadow: 0 0 0 0.25rem rgb(255 160 89 / 25%);
}

.clima-widget {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	padding: 15px;
	background: #3b3b3b;
	color: #fff;
	width: 100%;
	border-radius: 5px;
}

.buscar {
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	color: var(--second-color);
	background-color: var(--background-color);
	padding-left: 10px;
	background-color: #eee;
	height: 35px;
}

.boton {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	background-color: var(--second-color);
	border-radius: 5px;
	width: 100%;
	height: 40px;
	/* box-shadow: none; */
	border: none;
	/* outline: none; */
	/* margin-right: 0; */
}
.boton i {
	color: #fff;
	font-weight: bold;
} 
.boton-2 {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	border-radius: 5px;
	padding-inline: 10px;
	height: 40px;
	border: none;
}
.times-btn {
	border: none;
	padding: 0 5px;
	background: none;
}
.times-btn span {
	font-size: 1.25rem;
}

.switch_3_ways {
	margin: auto;
	font-size: 1em;
	font-family: sintony;
	height: 2em;
	line-height: 2em;
	border-radius: 0.3em;
	background: #ccc;
	position: relative;
	display: block;
	float: left;
}

.switch.monthly,
.switch.semester,
.switch.annual {
	cursor: pointer;
	position: relative;
	display: block;
	float: left;
	padding: 0 1em;
	-webkit-transition: 300ms ease-out;
	-moz-transition: 300ms ease-out;
	transition: 300ms ease-out;
}

.switch.active {
	color: white;
	border-radius: 0.3em;
	-moz-box-shadow: 0px 0px 7px 1px #656565;
	-webkit-box-shadow: 0px 0px 7px 1px #656565;
	-o-box-shadow: 0px 0px 7px 1px #656565;
	box-shadow: 0px 0px 7px 1px #656565;
	filter: progid: DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=7);
}

.switch.monthly.active {
	background-color: #777777;
}

.switch.semester.active {
	background-color: #418d92;
}

.switch.annual.active {
	background-color: #4d7ea9;
}

.switch_3_ways_v2 {
	margin-top: 10px;
	/* margin: auto; */
	display: flex;
	width: max-content;
	align-items: center;
	/* justify-content: center; */
	font-size: 0.85em;
	/* font-family: sintony; */
	/* line-height: 2em; */
	height: 2.8em;
	border-radius: 5px;
	background: #ccc;
	position: relative;
	/* display: block; */
	/* float:left; */
}

.switch_3_ways_v2 div i {
	color: #1e1e1e;
}
.switch2.monthly,
.switch2.semester,
.switch2.annual {
	cursor: pointer;
	position: relative;
	/* display: block; */
	/* float: left; */
	-webkit-transition: 300ms ease-out;
	-moz-transition: 300ms ease-out;
	transition: 300ms ease-out;
	padding: 0 12px;
}

.selector {
	/* height: inherit; */
	background-color: none;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 38px;
	box-sizing: border-box;
	-webkit-transition: 300ms ease-out;
	-moz-transition: 300ms ease-out;
	transition: 300ms ease-out;
	border-radius: 0.3em;
	color: white;
	-moz-box-shadow: 0px 2px 13px 0px #9b9b9b;
	-webkit-box-shadow: 0px 2px 13px 0px #9b9b9b;
	-o-box-shadow: 0px 2px 13px 0px #9b9b9b;
	box-shadow: 0px 2px 13px 0px #9b9b9b;
	filter: progid: DXImageTransform.Microsoft.Shadow(color=#9b9b9b, Direction=180, Strength=13);
}


.container__buscar {
	margin-top: auto;
	/* display: flex; */
	width: 100%;
}

.buscador {
	height: 40px;
}

.main-section {
	display: flex;
	width: 100%;
	height: 88%;
}

@keyframes appear{
	from {
		width: 0;
	} to {
		width: 48%;
	}
}

#p-res {
	text-align: center;
	font-weight: 600;
}

#no-res {
	display: none;
	width: 100%;
	height: 90%;
	padding: 50px;
}
.no-res-act {
	justify-content: center;
}
.results {
	display: none;
	width: 0;
  height: 100%;
	font-family: var(--body-font);
}
.res-act {
	display: block;
	animation: appear 0.5s ease forwards;
}

.global__side {
	width: 0;
}
.side + .arrow-bg{
	cursor: pointer;
	display: none;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	position:absolute;
	z-index: 1000;
	top: 100px;
	width: 40px;
	height: 40px;
	background: white;
	left: 25px;
	transition: 0.3s;
}
.arrow-bg i {
	font-size: 1.2rem;
}
.arrow-bg:hover{
	transform: scale(1.3);
}
@keyframes appearSide {
	from {
		width: 0%;
	}
	to {
		width: 25%;
	}
}
.side {
	position: relative;
	display: grid;
	height: 100%;
	width: 25%;
	background: var(--bg-color);
	grid-auto-flow: row;
	gap: 8px;
	padding: 20px 25px;
	animation: appearSide 0.5s ease forwards;
}
.unshow {
	display: none;
}

.radio__selects {
	margin-top: 10px;
}

.form-select:focus,
.form-control:focus {
	border-color: #ffd4b7;
	box-shadow: 0 0 0 0.25rem rgb(255 160 89 / 25%);
}

.logo-svg {
	width: 55px;
}
.logo-text {
	float: right;
	margin-left: 14px;
}
.logo-text h1,h2 {
	font-weight: bold;
	color: var(--second-color);
	font-size: 1.5rem;
	font-family: 'Bitter', sans-serif;
}

.side__titular {
	display: flex;
	align-items: center;
}
.side__titular i {
	font-size: 1.6rem;
	margin-left: 10px;
}

.logo {
	cursor: pointer;
}

#btn-heart {
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	background: rgba(0, 0, 0, 0.48);
}

.modal-body .formulario,
.modal-body .mesas,
.modal-body .pago {
	width: 767.05px;
	height: 100%;
}
.modal-body {
	display: grid;
	grid-auto-flow: column;
	width: 1620px;
	column-gap: 20px;
	margin-left: -784px;
}
.modal-content {
	overflow: hidden;
}

/* --- DARK MODE --- */
body.dark {
	--bg-color: #1e1e1e;
	--second-color: #fff;
}

body.dark .boton {
	color: #1e1e1e;
	font-weight: bold;
}

body.dark .lds-ring div {
	border-color: #1e1e1e transparent transparent transparent;
}

body.dark .results {
	background: var(--bg-color);
	color: var(--second-color);
}
/* #3b3b3b */
body.dark .lii{
	background-color: #3b3b3b;
	border-color: #626161;
}
body.dark .arrow-bg{
	background: var(--bg-color);
	color: var(--second-color);
}