@import 'style.css';

.lbl {
   display: inline-block;
   width: 35px;
   height: 17px;
   background: transparent;
   border: 1px solid var(--first-color);
   border-radius: 100px;
   cursor: pointer;
   position: relative;
   transition: 0.2s;
}
.lbl::after {
   content: '';
   display: block;
   width: 21px;
   height: 21px;
   background: var(--first-color);
   border-radius: 100px;
   position: absolute;
   top: -22%;
   left: -1px;
   transition: 0.2s;
}

#switch:checked + label::after {
   left: 16.5px;
}
#switch:checked + .lbl {
   background: var(--first-color);
}
#switch {
   display: none;
}